<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crosslight.Xamarin.Android.Support.v4" version="23.1.1" targetFramework="monoandroid60" />
  <package id="Google.Apis" version="1.13.1" targetFramework="monoandroid44" />
  <package id="Google.Apis.Auth" version="1.13.1" targetFramework="monoandroid44" />
  <package id="Google.Apis.Core" version="1.13.1" targetFramework="monoandroid44" />
  <package id="Google.Apis.Datastore.v1beta3" version="1.13.1.530" targetFramework="monoandroid44" />
  <package id="Google.Apis.Drive.v3" version="1.13.1.525" targetFramework="monoandroid44" />
  <package id="Google.Apis.Logging.v2beta1" version="1.13.1.446" targetFramework="monoandroid44" />
  <package id="Google.Apis.Oauth2.v2" version="1.13.1.518" targetFramework="monoandroid44" />
  <package id="Google.Apis.Storage.v1" version="1.13.1.525" targetFramework="monoandroid44" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="monoandroid44" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="monoandroid44" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid44" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="monoandroid44" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="monoandroid44" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="monoandroid44" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid44" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="monoandroid44" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="monoandroid44" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="monoandroid44" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="monoandroid44" />
  <package id="RestSharp" version="105.2.3" targetFramework="monoandroid44" />
  <package id="sqlite-net" version="1.0.8" targetFramework="monoandroid60" />
  <package id="sqlite-net-pcl" version="1.1.2" targetFramework="monoandroid60" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="monoandroid44" />
  <package id="SQLitePCL.bundle_green" version="0.9.2" targetFramework="monoandroid60" />
  <package id="SQLitePCL.plugin.sqlite3.android" version="0.9.2" targetFramework="monoandroid60" />
  <package id="SQLitePCL.raw" version="0.9.2" targetFramework="monoandroid60" />
  <package id="System.Security.Cryptography.Algorithms" version="4.1.0-rc2-24027" targetFramework="monoandroid44" />
  <package id="Validation" version="2.2.8" targetFramework="monoandroid44" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.2" targetFramework="monoandroid44" />
  <package id="Xam.Plugins.Messaging" version="3.2.1" targetFramework="monoandroid44" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Auth" version="1.3.0" targetFramework="monoandroid44" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="monoandroid44" />
</packages>